.header{
    width:100%;
    height:160px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;
}
.fabars{
    display: none;
}
.hamburger{
    display: none;
    width:100%;
    background-color: rgb(104, 93, 93);
    position: fixed;
    top:70px;
    right:0;
    z-index:5;
    text-align: center;
    color: rgb(235, 235, 235);
}
.show {
    display: block;
    opacity:1;
    animation: fadeIn 0.4s ;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-300px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.hamul{
    display: flex;
    flex-direction: column;
    width:100%;
    font-size:1rem;
    font-weight: bold;
    background-color: rgba(0, 255, 255, 0);
    margin-top:0%;
}
.hamul li{
    width: 100%;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:15px;
    padding-top:15px;
    border-bottom: solid 1px rgb(158, 158, 158);
    background-color: rgba(119, 51, 182, 0);
}
.hamul li:hover{
    background-color: rgb(156, 142, 142);;
}
.logo{
    width: 100%;
    height: 70%;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoimg{
    width:220px;
    height: 90px
}
.menus{
    width: 100%;
    height: 30%;
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.menus ul{
    display: flex;
}
.menus li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(97, 97, 97);
    height: 40px;
    width:180px;
    font-weight: bold;
    font-size:1rem
}
.menus li:hover{
    background-color: rgb(238, 238, 238);
    transition: all 0.5s;
    color: black;
}

@media screen and (max-width:1280px){

}

@media screen and (max-width:768px){
    .header{
        height: 70px;
    }
    .logo{
        height: 100%;
        justify-content: space-between;
    }
    .logoimg{
        width:120px;
        height: 50px;
        margin-left:20%;
    }
    .fabars{
        display: block;
        font-size:1.9rem;
        margin-right:10%;
        cursor: pointer;
    }
    .menus{
        display: none;
    }
}