.header{
    width:100%;
    height:160px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;
=======
    box-shadow: 0 1px 5px black;
>>>>>>> b2b26b628cd295710b553581303eb41d5945f1b2
}
.logo{
    width: 100%;
    height: 70%;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
<<<<<<< HEAD
.logoimg{
    width:220px;
    height: 90px
}
=======
>>>>>>> b2b26b628cd295710b553581303eb41d5945f1b2
.menus{
    width: 100%;
    height: 30%;
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.menus ul{
    display: flex;
}
.menus li{
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(97, 97, 97);
    height: 40px;
    width:180px;
    font-weight: bold;
    font-size:1rem
=======
    background-color: rgb(97, 97, 97);
    padding:10px 40px;
    margin:0 5px;
    font-weight: bold;
    font-size:1.1rem
>>>>>>> b2b26b628cd295710b553581303eb41d5945f1b2
}
.menus li:hover{
    background-color: rgb(238, 238, 238);
    transition: all 0.5s;
    color: black;
<<<<<<< HEAD
}

@media screen and (max-width:1280px){

}

@media screen and (max-width:768px){
    .menus li{
        font-size:0.8rem;
        width:130px;
    }
=======
>>>>>>> b2b26b628cd295710b553581303eb41d5945f1b2
}