.all{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(223, 223, 223);

}
.inside{
    width:1350px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
}
.center{
    width:74%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.side{
    width:26%;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

@media screen and (max-width:1280px){
    .inside{
        width:100%;
    }
}

@media screen and (max-width:768px){
    .inside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .center{
        width:100%;
    }
    .side{
        width:100%;
    }
}